body {
    margin: 0 200px;
    font-family: cursive, sans-serif;
}
h1 {
    color: green;
    font-weight: 800;
}
h2 {
    color: lightgreen;
    font-weight: 500;
}
ul, ol{
    background-color: rgb(231, 229, 229);
}
.button {
    background-color: aquamarine;
}
.a {
    text-decoration: none;
}